.modal-detail .hd-detail p,
.hd-print p,
.modal-detail .hd-detail h1,
.hd-print h1,
.modal-detail .hd-detail h2,
.hd-print h2,
.modal-detail .hd-detail h3,
.hd-print h3,
.modal-detail .hd-detail h4,
.hd-print h4,
.modal-detail .hd-detail h5,
.hd-print h5,
.modal-detail .hd-detail h6,
.hd-print h6 {
  margin-bottom: 0 !important;
}
.modal-detail .hd-detail p,
.hd-print p {
  font-size: 15px;
}
.modal-detail .hd-detail.card-body .table,
.hd-print.card-body .table {
  margin-top: 0 !important;
}
